/* Estilos para la ventana emergente */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(74, 58, 74, 0.5); /* Color malva transparente */
    backdrop-filter: blur(5px);
}

.modal-contenido {
    background-color: var(--blanco);
    margin: 15% auto;
    padding: 30px;
    border-radius: 25px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    border: 3px solid var(--detalle);
    position: relative;
    animation: aparecer 0.3s ease;
}

@keyframes aparecer {
    from {transform: scale(0.8); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}

.cerrar {
    position: absolute;
    right: 20px; top: 15px;
    font-size: 28px;
    cursor: pointer;
    color: var(--encabezado);
}
